@inherits LayoutComponentBase

<div class="app-shell">
    @Body
</div>

<div id="blazor-error-ui">
    Ocorreu um erro inesperado.
    <a href="" class="reload">Recarregar</a>
    <a class="dismiss">x</a>
</div>
